@import "tailwindcss";


@font-face {
  font-family: "vazir";
  font-style: normal;
  src: url("/font/Vazirmatn-Regular.woff2") format("woff2"),
}

/* :root {

}

@theme inline {
}

@media (prefers-color-scheme: dark) {

} */

body {
  color: var(--foreground);
    font-family:"vazir";
}

@layer base {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out
  }
}